@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(210, 231, 250);
}

*{
    margin:0;
    padding: 0;
}

nav{
    
    font-family: 'Ubuntu',sans-serif;
}
.Home{
    color: rgb(249, 252, 255);
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 60px;
    background-color:#00222c;
    color:rgb(168, 5, 147)
}

nav ul li{
    padding:0 8px;
}

.logo img{
    width: 60px;
    padding: 0 6px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}

.container{
    min-height: 40vh;
    background-color:#00222c;
    color: white;
    font-family:'Varela Round',sans-serif;
    display: block;
    width: 65%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 30px;
}

.songlistplay img{
    cursor: pointer;
    filter: invert(80%);
    display:inline-block;
    height: 20px;
    width: 20px;
    padding-right: 4px;
    padding-top: 8px;
}


.songinLine{
    display: inline-block;
}
.songItem img{
    display:block;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 100%;
}


.bottom{
    position: sticky;
    height: 130px;
    color: lavenderblush;
    background-color: #00222c;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 0;

}

.icons i{
    display: inline-block;
    background-color: #00222c;
    height: 20px;
    width: 50px;
    padding: 6px;
    justify-content:center;
    align-items:center;
    cursor: pointer;

}
.fa-play-circle img{
    margin-bottom: 3px;
    height: 80px;
    width: 50px;
    filter: invert(100%);
}

.songInfo{
    font-family:'Varela Round',sans-serif ;    
    font-size: large;
    position: absolute;
    align-items: center;
    margin-right: 600px;
    margin-top: 10px;
}
#songinline{
    display: inline-block;
}

.songin{
    margin: 10px;
    display: inline-block;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor:pointer;
    padding: 5px;


}
